Q1. What are Data structures, and why they are important?
   - Data structures are specialized formats for organizing, storing, and
   accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
   Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.
   They are important because:
   Choosing the right data structure significantly impacts the efficiency and performance of your program.
   Well-chosen data structures can:
   Simplify data manipulation (adding, removing, modifying elements)
   Optimize searching and sorting operations
   Conserve memory usage.

Q2. What is the difference between mutable and immutable data types with examples.
    - Mutable data types can be changed after creation — meaning their content (values or elements) can be modified in-place.
     Examples in Python: list, dict(dictionary), set, bytearray
     Immutable data types cannot be changed once they are created. Any modification results in a new object being created.
     Examples in Python: int, float, str(string), tuple, frozenset, bytes

Q3. What are the main differences between lists and tuples in Python?
    - Lists are mutable, meaning you can change, add, or remove elements after
     the list is created.
     Tuples are immutable, so once they’re created, their contents cannot be changed.
     Lists use square brackets: [1, 2, 3]
     Tuples use parentheses: (1, 2, 3)
     Tuples are generally faster and use less memory than lists because they are immutable.
     Lists have more built-in methods like append(), pop(), and remove() because they are meant to be modified.
     Tuples have fewer methods, mainly count() and index().

Q4. Describe how dictionaries store data?
    - In Python, dictionaries store data as key-value pairs. Each key is  
     unique, and it maps to a specific value.Keys must be immutable (e.g., strings, numbers, tuples).Values can be any data type (even other dictionaries or lists).

Q5. Why might you use a set instead of a list in Python?
    - Use a set when you want unique items, need fast lookups, or plan to use
      set operations like unions or intersections.

Q6. What is a string in Python, and how is it different from a list?
    - In strings, characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing. Strings can be joined together and altered using a variety of techniques (find, replace, etc.).      
     A string holds characters.A list can hold any data types (integers, strings, even other lists). Strings are immutable. Lists are mutable.

Q7. How do tuples ensure data integrity in Pyhton?
    - Once a tuple is created, its elements cannot be changed, added, or removed. This immutability is the key reason tuples help maintain data integrity.Since tuples can't be modified, you can be confident that the data they hold will stay the same throughout the program.This is especially useful for constants or configuration values that should never be altered.Tuples can be hashed (if they contain only immutable elements), so they can be used as keys in dictionaries or elements in sets — unlike lists.
     This makes them suitable for representing fixed, reliable identifiers.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores key-value pairs and allows
     for very fast data retrieval — on average, in constant time.
     A hash table is the underlying data structure behind Python dictionaries, enabling them to store and access key-value pairs quickly and efficiently by hashing keys to specific memory locations.

Q9. Can lists contain different data types in Python?
    - Yes, lists in Python can contain different data types.

Q10. Explain why strings are immutable in Python?
     - Strings are immutable in Python because once a string is created, its contents cannot be changed. Python internally reuses immutable objects (like strings) to save memory.Immutable objects like strings are hashable, meaning they can be used as keys in dictionaries or elements in sets.Strings are immutable in Python to make them efficient, safe, hashable, and reliable. This design helps with memory management, program stability, and performance.
    
Q11. What advantages do dictionaries offer over lists for certain tasks?
     - Dictionaries in Python offer several key advantages over lists for certain types of tasks-
     Dictionaries use a hash table, allowing you to retrieve values by key in constant time (O(1) on average).Lists require a linear search (O(n)) to find an item.
     With lists, you must remember or track the index of elements.
     Dictionaries let you access values directly by name/key.
     Keys in dictionaries are unique, which helps in maintaining data integrity.
     Lists can contain duplicates, which may require extra logic to manage.

Q12. Describe a scenario where using a tuple would be preferavble over a list?
     - A tuple is preferable over a list in Python when you need to store a fixed, unchangeable group of related values — especially when data integrity, performance, or hashability is important.
     Imagine you're writing a function that returns coordinates:


def get_coordinates():
    return (40.7128, -74.0060)  # Latitude and longitude as a tuple
    
     Here:

     The data is fixed- latitude and longitude values won't need to change after being returned.
     Immutability protects integrity-prevents accidental modifications to coordinate values.
     Performance- tuples are slightly faster and use less memory than lists.
     Hashable - the tuple can be used as a key in a dictionary or stored in a set.


location = get_coordinates()
city_lookup = {location: "New York"}  # ✅ Works because tuple is hashable

Q13. How do sets handle duplicate values in Pyhton?
     - Sets in Python automatically remove duplicates, ensuring all elements are unique.If you try to add a duplicate value, Python will not raise an error, but the set will only store one instance of that value.

Q14. How does the "in" keyword work differently for lists and dictionaries?
     - For Lists:
      The in keyword checks if a value exists anywhere in the list.
      Python performs a linear search through the list.
      Time complexity is O(n) (slower for large lists).
      For Dictionaries:
      The in keyword checks if a key exists in the dictionary — not the values.
      Python uses the dictionary’s hash table, so the lookup is very fast (average O(1)).

Q15. Can you modify the elements of a tuple ? Explain why or why not?
    - Tuples cannot be modified beacause they are immutable. Once a tuple is
     created, its contents cannot be changed, added, or removed.
     This means you cannot change individual elements or alter the tuple's size.

Q16. What is a nested dictionary, and give an example of its use case?
     - Nested dictionary means dictionary inside another dictionary.A nested dictionary in Python is a dictionary where one or more values are themselves dictionaries. This allows you to represent more complex, hierarchical data structures.
     Use Case:
     Storing information about multiple entities with attributes that themselves have sub-attributes.

     For example:

     A database of users where each user has personal info and nested preferences/settings.
     Configuration files where settings are grouped into categories.
     Representing JSON data with multiple levels.

company = {
    "employee1": {
        "name": "John",
        "department": "Sales",
        "salary": 50000
    },
    "employee2": {
        "name": "Sara",
        "department": "HR",
        "salary": 60000
    }
}
print(company["employee2"]["department"])  # Output: HR


Q17. Describe the time complexity of accesssing elements in a dictionary?
     - Accessing elements in a Python dictionary generally has a time  
      complexity of O(1) — that is, constant time on average.

Q18. In what situations are lists preferred over dictionaries?
     - Lists are preferred over dictionaries in Python when:
       -You Need Ordered Data
       -Index-Based Access is Needed
       -The Data Has No Unique Key
       -You Need to Store Duplicates
       -Ordering or Sorting Is Important

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
     - Dictionaries were considered unordered in Python because they did not preserve the order in which key-value pairs were inserted. The primary access mechanism is by key, not position or index. You can't access dictionary items by numeric index (e.g., dict[0] won't work).
     The structure is optimized for fast key-based lookup, not for ordered access or position-based retrieval.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
     - The key difference between a list and a dictionary in terms of data retrieval lies in how you access the data and what you use to retrieve it:
     List- Indexed Retrieval
     Data is accessed by position (index).
     You retrieve items using integer indices starting from 0.
     Time complexity: O(1) for access by index.
     Dictionary - Key-Based Retrieval
     Data is accessed by key (not position).
     You retrieve values using unique keys, which are usually strings or numbers.
     Time complexity: O(1) on average (uses a hash table).

              



   -

In [2]:
#Q1. Write a code to create a string with your name and print it.#

my_name = "Shweta"

# Print the string
print("My name is:", my_name)

My name is: Shweta

In [3]:
#Q2. Write a code to find the length of the string "Hello World".#

text = "Hello World"
print(len(text))

11

In [5]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"#

text = "Python Programming"

sliced_text = text[:3]
print(sliced_text)

Pyt

In [8]:
#Q4. Write a code to convert the string "hello" to the uppercase.#

text = "hello"

uppercase_text=text.upper()
print(uppercase_text)

HELLO

In [9]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".#
text = "I like apple"


new_text = text.replace("apple", "orange")


print(new_text)

I like orange

In [10]:
#Q6. Write a code to create a list with numbers 1 to 5 and print it.#

numbers = [1, 2, 3, 4, 5]

print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#Q7. Write a code to append the number 10 to the list [1,2,3,4].#

numbers = [1, 2, 3, 4]

numbers.append(10)

print(numbers)

[1, 2, 3, 4, 10]

In [13]:
#Q8. Write a code to remove the number 3 from the list [1,2,3,4,5,].#

numbers =[1,2,3,4,5]

remove_number = numbers.remove(3)

print (numbers)

[1, 2, 4, 5]

In [14]:
#Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].#

letters = ['a', 'b', 'c', 'd']


second_element = letters[1]
print(second_element)

b

In [15]:
#Q10. Write a code to reverse the list[10,20,30,40,50].#


numbers = [10, 20, 30, 40, 50]

numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
#Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.#
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

In [17]:
#Q12. Write a code to accesss the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').#

colors = ('red', 'green', 'blue', 'yellow')

second_to_last = colors[-2]

print(second_to_last)

blue

In [18]:
#Q13. Write a code to find the minimum number in the tuple (10,20,5,15).#
numbers = (10, 20, 5, 15)

min_number = min(numbers)

print(min_number)

5

In [19]:
#Q14. Write a code to find the index of the element "cat" in the tuple ['dog', 'cat', 'rabbit'].#
animals = ('dog', 'cat', 'rabbit')

index_cat = animals.index('cat')

print(index_cat)

1

In [20]:
#Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.#
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

In [21]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}


print(my_set)

{'a', 'c', 'b'}

In [22]:
#Q17. Write a code to clear all elements from the set {1,2,3,4,5}.#
numbers = {1, 2, 3, 4, 5}

numbers.clear()

print(numbers)

set()

In [23]:
#Q18. Write a code to remove the element 4 from the set {1,2,3,4}.#
numbers = {1, 2, 3, 4}

numbers.remove(4)

print(numbers)

{1, 2, 3}

In [24]:
#Q19. Write a code to find the union of two sets {1,2,3} and {3,4,5}.#

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [25]:
#Q20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.#
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

In [27]:
#Q21.Write a code to create a dictionary with the keys "name", "age" and "city" , and print it.#
person = {
    "name": "Shweta",
    "age": 26,
    "city": "Jaipur"
}

print(person)

{'name': 'Shweta', 'age': 26, 'city': 'Jaipur'}

In [28]:
#Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.#
person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': ' Alice', 'age': 30}.#
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print(name_value)

Alice

In [30]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.#
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#Q25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.#
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [35]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.#
my_list = [1, 2, 3]

my_tuple = ('a', 'b', 'c')

my_dict = {'name': 'Alice', 'age': 30}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

In [38]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)#


import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print(random_numbers)

[13, 46, 64, 74, 75]

In [40]:
#Q28.Write a code to create a list with strings and print the element at the third index.#
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

third_element = my_list[3]

print(third_element)

date

In [41]:
#Q29. Write a code to combine two dictionaries into one and print the result.#
dict1 = {'a': 1, 'b': 2}

dict2 = {'c': 3, 'd': 4}

combined_dict = dict1 | dict2

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
#Q30. Write a code to convert a list of strings into a set.#
my_list = ["apple", "banana", "cherry", "apple", "banana"]

my_set = set(my_list)

print(my_set)

{'cherry', 'apple', 'banana'}